<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Body</th>
      <th>colspan="3"></th>
    </tr>
    </thead>

 <tbody>
   <tr>
     <td>リーダーコード</td>
     <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
     <td>show</td>
     <td>Edit</td>
     <td>Destroy></td>
   </tr>

 </tbody>
</table>

